/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    text-align: center;
    }

/* Typewriter Background */
.codebackground {
    background-color: #1e1e1e;
    color: #00ff00;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    }

#typewriter {
    border-right: 2px solid #a6f7a6;
    white-space: nowrap;
    overflow: hidden;
    }

/* Profile Image */
.image img {
    width: 160px;
    height: 180px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 35px;
    }

/* Header Section */
.hilarie-portfolio {
    margin-bottom: 50px;
    }

.hilarie-portfolio h2 {
    margin-bottom: 30;
    font-size: 2rem;
    }

.hilarie-portfolio p {
    margin: 20px 0 0 0;
    font-size: 1.2rem;
    color: #fdf8f8;
    }

/* Buttons */
.buttons button {
    margin: 15px;
    width: 270px; 
    height: 35px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fdf8f8;
    color: black;
    transition: background-color 0.3s;
    }

.buttons button:hover {
    background-color: #e6b9b9;
    }

/* Links / Social Icons */
.links a {
    margin: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #fdf8f8;
    font-size:50px;
    text-align: left;
    }


.links a:hover {
    color: #e6b9b9;
    }